{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}项目管理 - 修改项目{% endblock %}
{% block custome_css %}
    <link rel="stylesheet" href="{% static 'servers/css/server-add.css' %}">
    <link rel="stylesheet" href="{% static 'servers/css/server-detail.css' %}">
{% endblock %}
{% block content %}
    {% if server %}
        <div class="content">
            <p class="content-note1">项目信息修改<span class="content-note2"></span></p>
            <div style="clear:both"></div>
            <form class="form-table" action="{% url 'servers:server_modify' %}" method="post">
                <input type="hidden" id="server_id" name="server_id" value="{{ server.id }}"/>
                <div class="form-list">
                    <span>项目类型</span>
                    <select {% if server_form.errors.zctype %}class="input-error"{% endif %} name="zctype">
                        {% for server_type in server_types %}
                            <option value="{{ server_type.id }}"
                                    {% ifequal server.zctype.id server_type.id %}selected{% endifequal %}>{{ server_type.zctype }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-list">
                    <span>项目名称</span><input {% if server_form.errors.ipaddress %}class="input-error"{% endif %}
                                            type="text" name="ipaddress" value="{{ server.ipaddress }}"
                                            placeholder="不超过100个字符"/>
                </div>
                <div class="form-list">
                    <span>项目概述</span><input {% if server_form.errors.description %}class="input-error"{% endif %}
                                            type="text" name="description" value="{{ server.description }}"
                                            placeholder="不超过50个字符"/>
                </div>
                <div class="form-list">
                    <span>开发令号</span><input {% if server_form.errors.brand %}class="input-error"{% endif %} type="text"
                                            name="brand" value="{{ server.brand }}" placeholder="不超过50个字符"/>
                </div>
                <div class="form-list">
                    <span>项目开始时间</span><input {% if server_form.errors.zcmodel %}class="input-error"{% endif %}
                                              type="date" name="zcmodel" value="{{ server.zcmodel }}"
                                              placeholder="不超过50个字符"/>
                </div>
                <div class="form-list">
                    <span>项目完成时间</span><input {% if server_form.errors.zcnumber %}class="input-error"{% endif %}
                                              type="date" name="zcnumber" value="{{ server.zcnumber }}"
                                              placeholder="不超过50个字符"/>
                </div>
                <div class="form-list">
                    <span>项目现状</span><input {% if server_form.errors.zcpz %}class="input-error"{% endif %} type="text"
                                            name="zcpz" value="{{ server.zcpz }}" placeholder="不超过100个字符"/>
                </div>
                <div class="form-list">
                    <span>项目负责人</span>
                    <select name="owner">
                        {% for user in users %}
                            <option value="{{ user.id }}"
                                    {% ifequal server.owner.id user.id %}selected{% endifequal %}>{{ user.username }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-list">
                    <span>延期风险</span>
                    <select name="undernet" {% if server_form.errors.undernet %}class="input-error"{% endif %}>
                        <option style="display: none;" disabled selected>请选择</option>
                        <option value="1">已有风险</option>
                        <option value="0">暂无风险</option>
                    </select>
                </div>
                <div class="form-list">
                    <span>项目级别</span>
                    <select name="guartime" {% if server_form.errors.guartime %}class="input-error"{% endif %}>
                        <option style="display: none;" disabled selected>请选择</option>
                        <option value="A级">A级</option>
                        <option value="B级">B级</option>
                        <option value="C级">C级</option>
                        <option value="D级">D级</option>
                    </select>
                </div>
                <div class="form-list">
                    <span class="comment">备注</span><textarea
                        class="textarea {% if server_form.errors.comment %}input-error{% endif %}" name="comment"
                        placeholder="不超过300个字符">{{ server.comment }}</textarea>
                </div>
                {% if msg %}
                    <div class="error">{{ msg }}</div>
                {% endif %}
                <div style="clear:both"></div>
                <div class="form-list">
                    <input class="form-button" type="submit" value="保存"/>
                </div>
                <div class="form-list">
                    <button class="form-button" type="button" onclick="btn_cancel()">取消</button>
                </div>
                <div class="form-list">
                    <button class="form-button form-button-del" type="button" onclick="btn_delete()">删除</button>
                </div>
                {% csrf_token %}
            </form>
        </div>
    {% endif %}
    <div class="content">
        <a name="hist"></a>
        <br>
        <h4 style="text-align: center">本项目信息历史修改记录</h4>
        <br>
        <table class="table-list">
            <thead>
            <tr>
                <th>序号</th>
                <th>项目类型</th>
                <th>项目名称</th>
                <th>开发令号</th>
                <th>项目概述</th>
                <th>项目负责人</th>
                <th>开始时间</th>
                <th>完成时间</th>
                <th>项目现状</th>
                <th>倒计时</th>
                <th>延期风险</th>
                <th>项目级别</th>
                <th>备注</th>
                <th>修改时间</th>
            </tr>
            </thead>
            <tbody>
            {% for server in p_server_hiss.object_list %}
                <tr style="text-align: center">
                    <td>{{ forloop.counter|add:start }}</td>
                    <td>{{ server.zctype }}</td>
                    <td>{{ server.ipaddress }}</td>
                    <td>{{ server.brand }}</td>
                    <td style="text-align: justify">{{ server.description }}</td>
                    <td>{{ server.owner.username }}</td>
                    <td>{{ server.zcmodel }}</td>
                    <td>{{ server.zcnumber }}</td>
                    <td>{{ server.zcpz }}</td>
                    <td class="get_time">{{ server.zcnumber }}</td>
                    {% if server.undernet == '1' %}
                        <td>已有风险</td>
                    {% else %}
                        <td>暂无风险</td>
                    {% endif %}
                    <td>{{ server.guartime }}</td>
                    <td>
                        <div class="more-text">{{ server.comment }}</div>
                    </td>
                    <td>{{ server.modify_time|date:"Y-m-d H:i:s" }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <div class="page">
            <ul class="pagination">
                {% if p_server_hiss.has_previous %}
                    <li><a href="?{{ p_server_hiss.previous_page_number.querystring }}#hist">&laquo;</a></li>
                {% endif %}
                {% for page in p_server_hiss.pages %}
                    {% if page %}
                        {% ifequal page p_server_hiss.number %}
                            <li class="active"><a href="?{{ page.querystring }}#hist">{{ page }}</a></li>
                        {% else %}
                            <li><a href="?{{ page.querystring }}#hist">{{ page }}</a></li>
                        {% endifequal %}
                    {% else %}
                        <li>...</li>
                    {% endif %}
                {% endfor %}
                {% if p_server_hiss.has_next %}
                    <li><a href="?{{ p_server_hiss.next_page_number.querystring }}#hist">&raquo;</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
{% endblock %}
{% block custome_js %}
    <script>
        function btn_cancel() {
            location.href = "{% url 'servers:server_list' %}";
        }

        function btn_delete() {
            var server_id = document.getElementById("server_id").value;
            var url = "{% url 'servers:server_delete' 0 %}";
            var conf = confirm("确定删掉该条数据？");
            if (conf) {
                location.href = url.replace('0', server_id);
            }
        }

        var sidebar = document.getElementById("sidebar");
        var content_height = document.body.scrollHeight > window.innerHeight ? document.body.scrollHeight - 48 : window.innerHeight - 48;
        sidebar.style.height = content_height + 'px';
        {#获取倒计时#}
        var times = document.getElementsByClassName('get_time');
        for (var i = 0; i < times.length; i++) {
            var old_time = times[i].innerHTML;
            var myDate = new Date();
            times[i].innerHTML = Math.floor((new Date(old_time) - myDate.getTime()) / (24 * 3600 * 1000)) + '天';
        }
    </script>
{% endblock %}