{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}项目管理 - 添加项目{% endblock %}
{% block custome_css %}
    <link rel="stylesheet" href="{% static 'servers/css/server-add.css' %}">
{% endblock %}
{% block content %}
    <div class="content">
        <p class="content-note1">新增研发项目<span class="content-note2"></span></p>
        <div style="clear:both"></div>
        <form class="form-table" action="{% url 'servers:server_add' %}" method="post">
            <div class="form-list">
                <span>项目类型</span>
                <select {% if server_form.errors.zctype %}class="input-error"{% endif %} name="zctype">
                    <option style="display: none;" disabled selected>请选择</option>
                    {% for server_type in server_types %}
                        <option value="{{ server_type.id }}">{{ server_type.zctype }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-list">
                <span>项目名称</span><input {% if server_form.errors.ipaddress %}class="input-error"{% endif %} type="text"
                                        name="ipaddress" placeholder="请输入不超过50个字符"/>
            </div>
            <div class="form-list">
                <span>项目概述</span><input {% if server_form.errors.description %}class="input-error"{% endif %}
                                        type="text" name="description" placeholder="请输入不超过50个字符"/>
            </div>
            <div class="form-list">
                <span>开发令号</span><input {% if server_form.errors.brand %}class="input-error"{% endif %} type="text"
                                        name="brand" placeholder="请输入不超过50个字符"/>
            </div>
            <div class="form-list">
                <span>项目开始时间</span><input {% if server_form.errors.zcmodel %}class="input-error"{% endif %} type="date"
                                          name="zcmodel"/>
            </div>
            <div class="form-list">
                <span>项目完成时间</span><input {% if server_form.errors.zcnumber %}class="input-error"{% endif %} type="date"
                                          name="zcnumber"/>
            </div>
            <div class="form-list">
                <span>项目现状</span><input {% if server_form.errors.zcpz %}class="input-error"{% endif %} type="text"
                                        name="zcpz" placeholder="不超过100个字符"/>
            </div>
            <div class="form-list">
                <span>项目负责人</span>
                <select {% if server_form.errors.owner %}class="input-error"{% endif %} name="owner">
                    <option style="display: none;" disabled selected>请选择</option>
                    <option value="0">无</option>
                    {% for user in users %}
                        <option value="{{ user.id }}">{{ user.username }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-list">
                <span>延期风险</span>
                <select name="undernet" {% if server_form.errors.undernet %}class="input-error"{% endif %}>
                    <option style="display: none;" disabled selected>请选择</option>
                    <option value="1">已有风险</option>
                    <option value="0">暂无风险</option>
                </select>
            </div>
            <div class="form-list">
                {#                <span>项目级别</span><input {% if server_form.errors.guartime %}class="input-error"{% endif %} type="text" name="guartime" placeholder="格式示例:年-月-日,如2018-8-8"/>#}
                <span>项目级别</span>
                <select name="guartime" {% if server_form.errors.guartime %}class="input-error"{% endif %}>
                    <option style="display: none;" disabled selected>请选择</option>
                    <option value="A级">A级</option>
                    <option value="B级">B级</option>
                    <option value="C级">C级</option>
                    <option value="D级">D级</option>
                </select>
            </div>
            <div class="form-list">
                <span class="comment">备注</span><textarea
                    class="textarea {% if server_form.errors.comment %}input-error{% endif %}" name="comment"
                    placeholder="不超过300个字符"></textarea>
            </div>
            {% if msg %}
                <div class="error">{{ msg }}</div>
            {% endif %}
            <div style="clear:both"></div>
            <div class="form-list">
                <input class="form-button" type="submit"/>
            </div>
            <div class="form-list">
                <button class="form-button" type="button" onclick="btn_cancel()">取消</button>
            </div>
            {% csrf_token %}
        </form>
    </div>
{% endblock %}
{% block custome_js %}
    <script>
        function btn_cancel() {
            location.href = "{% url 'servers:server_list' %}";
        }
    </script>
{% endblock %}