{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}项目管理 - 添加项目类型{% endblock %}
{% block custome_css %}
    <link rel="stylesheet" href="{% static 'servers/css/server-add.css' %}">
{% endblock %}
{% block content %}
    <div class="content">
        <p class="content-note1">新增研发项目类型<span class="content-note2"></span></p>
        <div style="clear:both"></div>
        <form class="form-table" action="{% url 'servers:type_add' %}" method="post">
            <div class="form-list">
                <span>项目类型</span><input {% if servertype_form.errors.zctype %}class="input-error"{% endif %}
                                         type="text" name="zctype" placeholder="项目类型在20个字符以内"/>
            </div>
            {% if msg %}
                <div class="error">{{ msg }}</div>
            {% endif %}
            <div style="clear:both"></div>
            <div class="form-list">
                <input class="form-button" type="submit"/>
            </div>
            <div class="form-list">
                <button class="form-button" type="button" onclick="btn_cancel()">取消</button>
            </div>
            {% csrf_token %}
        </form>
    </div>
{% endblock %}
{% block custome_js %}
    <script>
        function btn_cancel() {
            location.href = "{% url 'servers:type_list' %}";
        }
    </script>
{% endblock %}